<div class="social-media">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <h3>Henrique Panham</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-2 col-lg-2 col-xs-offset-3 col-md-offset-5 col-lg-offset-5">
        <%= image_tag 'eu.jpg', alt: 'Eu', class: "perfil-photo" %><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Ruby on Rails Developer</h4>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <a href="http://fb.com/henrique.panham" target="_blank" alt="Link para o meu perfil do Facebook"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
          <a href="https://github.com/henriquepjv" target="_blank" alt="Link para o meu GitHub"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/henrique-panham-junqueira-villela-1454b2b3/" target="_blank" alt="Link para o meu GitHub"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
