<div class="panel panel-default">
  <% @posts.each do |post| %>
    <div class="panel-heading">
      <%= link_to post.title, post_path(post)  %>
    </div>
    <div class="panel-body">
      <div class="text-center">
        <%= post.description %>
      </div>
    </div>
  <% end %>
</div>
