.about-content{
  text-align: center;
  margin: 0% 0% 0% 3%;
  padding: 0px;
}
.about-photo {
  height: calc(10vh);
  width: 5vw;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 47%;
  filter: grayscale(80%);
}
.idea-photo {
  height: calc(10vh);
  width: 5vw;
  margin-left: 47%;
}
