.post-overview {
  padding: 20px 50px;
  margin: 20px 0;
  border: solid 3px #EEF2F3;
  border-radius: 10px;
}

article {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0.8em;
  line-height: 1.8;
  border-radius: 10px;

  img{
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: auto;
    display: block;
  }
  div#actions {
    padding: 50px 0;
  }

  p {
    margin-bottom: 0.8em;
    font-weight: normal;
  }
}
.btn-post
{
  border:
  solid
  2px
  #233140;
  margin-top:
  10px;
  color:
  #233140;
  animation-delay:
  2s;
  border-radius: 4px;
  padding: 5px;

  &:hover
  {
    background-color:
    grey;
    color:
    black;
  }
}
